@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  margin: 0;
  background: rgba(45, 11, 58, 0.603);
}

h2 {
  margin-top: 40px;
  font-family: "Pacifico", cursive;
  font-weight: bold;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 3px 3px 20px #e24292, -2px 1px 30px #ff99cc;
  text-transform: uppercase;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  overflow: hidden;
  padding: 15px;
}
img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 100ms ease-out;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  transition: transform 0.3s ease;
}
img:hover {
  transform: scale(1.1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
